<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List</title>
    <link rel="stylesheet" th:href="@{/css/liststyle.css}"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">

</head>

<body>

<h1>Task List</h1>

<div class="container">

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Task</th>
            <th scope="col">Description</th>
            <th scope="col">Completed</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>

        <tbody>
        <tr th:if = "${listTasks.empty}">
            <td colspan="5">There's no Tasks.</td>
        </tr>

        <tr th:each="task : ${listTasks}">
            <td><span th:text="${task.id}"></span></td>
            <td> <span th:text="${task.date}"></span></td>
            <td> <span th:text="${task.task}"></span></td>
            <td> <span th:text="${task.description}"></span></td>
            <td> <span th:text="${task.completed} ? 'Yes' : 'No'"></span></td>
            <td colspan="2">
                <a th:href="@{/tasks/{id}/edit(id=${task.id})}"><i class="fa-duotone fa-solid fa-pen-to-square"
                                                                   style="--fa-primary-color: #27519b; --fa-secondary-color: #27519b;"></i></a>
                <a th:href="@{/tasks/delete/{id}(id=${task.id})}"><i class="fa-solid fa-trash-can"
                                                                     style="color: #c01616;"></i></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<a href="/index" class="btn btn-danger">Back</a>

<footer class="card-footer text-muted">
    <br>
    <p>@Developed in 2025, by Gustavo Souto</p>
</footer>

</body>

</html>